<md-dialog flex="80">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Category</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <!--<create-document form-data="formData"></create-document>-->
      <div layout="column" class="inputdemoErrorsAdvanced" ng-cloak>
        <md-content layout-padding>
          <form name="vm.formSave" ng-submit="vm.save()" novalidate>

            <md-input-container class="md-block">
              <label>Name</label>
              <input ng-required="true" name="name" ng-model="vm.formData.name">
              <div ng-messages="vm.formSave.name.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <div layout="row" layout-align="end center">
              <md-button ng-click="vm.close()" class="md-raised md-primary">Cancel</md-button>
              <md-button type="submit" class="md-raised md-primary">Save</md-button>
            </div>

          </form>
        </md-content>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
