md-table-container{
  overflow: visible;

  .image-scroll {
    position: relative;

    &:hover{
      overflow: visible;
    }

    width: 700px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;

    .item-image {
      height: 200px;
      position: relative;
      overflow: hidden;


      .img {
        background-size: cover !important;
        height: 100%;
        weight: auto;
        border: 2px solid #FFF;

        &:hover{
          .buttons{
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.27);
            height: 100%;
            margin: 0 auto;
            opacity: 1;
            border: 2px solid
          }
        }

        .buttons{
          opacity: 0;
        }
      }
    }
  }
}

.img-preview {
  position: absolute;
  width: 692px;
  height: 300px;
  border: 1px solid #8A8A8A;
  bottom: 203px;
  padding: 3px;
  overflow: hidden;

  > div {
    overflow: hidden;
    background: #F3F3F3;

    img{
      height: 417px;
      margin:auto; display:block
    }
  }
}